body {
  margin: none;
}

.header,
.subheader,
.third_header {
  text-align: center;
}

.header {
  text-transform: uppercase;
  color: white;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 80px;
  height: 80px;
  background-color: #2D3945;
}

h1 {
  margin: 0;
}

.third_header {
  color: silver;
  margin: 1.5em;
}

hr {
width: 90%;
}

.first_line {
  border-top: 4px solid black;
}

.second_line {
  border-top: 2px solid black;
  width: 98%;
}

form {
  padding: 5px 30px 5px 0px;
  max-width: 300px;
  margin: 10px 7px 5px 5px;
}

fieldset {
  border: none;
}

label {
  font-size: 17px;
}

input[type="text"],
input[type="email"],
input[type="telephone"] {
  padding: 15px;
  margin: 0;
  margin-bottom: 30px;
  border: none;
  background: #EFF0F2;
  width: 100%;
}

input[placeholder] {
  text-align: right;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}


textarea:focus {
  background-color: #D5D9DC;
}

.news {
  text-align: left;
}

.topics {
  padding-top: 5px;
  margin: auto;
}

button {
  background-color: #52BBB0;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  line-height: 60px;
  width: 115%;
}

.copyright {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  color: #001a00;
}




/* ----- Media Query ----- */

@media (min-width: 768px) {

}
