body {
  margin: 0;
}

.header,
.subheader,
.third_header {
  text-align: center;
}

.header {
  text-transform: uppercase;
  color: white;
  font-size: 9px;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 80px;
  height: 80px;
  background-color: #2D3945;
}

h1 {
  margin: 0;
}

.third_header {
  color: silver;
  margin: 1.5em;
}

hr {
width: 87%;
}

.first_line {
  border-top: 4px solid black;
}

.second_line {
  border-top: 2px solid black;
  width: 98%;
}

.contact {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 17px;
}

form {
  padding: 5px 30px 5px 0px;
  max-width: 300px;
  margin: auto;
}

fieldset {
  border: none;
}

label {
  font-size: 17px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  padding: 15px;
  margin: 15px 0 30px;
  border: none;
  background: #EFF0F2;
  width: 95%;
}

#state {
  width: 113%;
}

#zip {
  width: 65%;
}

input[placeholder] {
  text-align: right;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}

select {
  text-align: start;
  color: #b8b8b8;
}

input:focus {
  transition: all 1s ease;
  background-color: pink;
  -webkit-animation: fadeinout 1s linear forwards;
    animation: fadeinout 3s linear forwards;
    opacity: 1;
}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

textarea:focus {
  transition: all 1s ease;
  background-color: pink;
}

.sign_up {
  background-color: lightblue;
}

.news {
  text-align: left;
  font-size: 23px;
  font-weight: bold;
}

.topics {
  padding-top: 5px;
  margin: auto;
}

button {
  background-color: #52BBB0;
  color: white;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  width: 115%;
}

.copyright {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  color: #b8b8b8;
}




/* ----- Media Query ----- */

@media screen and (min-width: 768px) {

  * {
    box-sizing: border-box;
  }

  .subheader {
    padding-top: 30px;
  }

  .third_header {
    padding-bottom: 15px;
    height: 10px;
    line-height: 0px;
  }

  form {
    margin: auto;
    max-width: 700px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select {
    width: 60%;
    display: inline-block;
  }

  #state {
    width: 60%;
    display: inline-block;
  }

  #zip {
    width: 30%;
    display: inline-block;
  }

  label {
    display: inline-block;
    width: 30%;
  }

  .topics {
    display: inline;
  }

  textarea {
    width: 90%;
    padding-bottom: 50px;
  }

  button {
    width: 90%;
  }

  .copyright {
    margin-right: 80px;
  }
}
